{% extends 'layout.njk' %}

{% block head %}
<title>Foodfy | Not Found</title>
{% endblock head %}

{% block content %}

<div class="page-404">
<img src="/images/404.png" alt="Imagem Erro 404">
<h1>Ooops! Essa pagina não foi localizada. Para retornar a pagina principal, <a href="/">Clique aqui</a></h1>

</div>


{% endblock content %}