@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    
}

/* == HEADER SELECTION == */

header{
   width: 940px;
   padding: 36px;
   margin: 0 auto;
   display: flex;   
}

.navbar a img{
    float: left;
    margin-right: 92.4px;
}

.navbar a{
    text-decoration: none;
    margin-right: 30px;
    color: #111111;
    font-size: 16px;
    line-height: 26px;
}

.active{
    font-weight: bold;
}
/* == BANNER ==*/

.banner{
    background: #fbdfdb;
    border-radius: 30px;
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.banner-text{
    width: 360px;
    margin: 117px 0 0 60px;
}

.banner-text h1{
font-weight: bold;
font-size: 32px;
color: #111111;
margin-bottom: 10px;    
}

.banner-text p{
    opacity: 0.7;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
}

.banner-img{
    margin: 66px 100px 0 204px;
}

/* == Receitas Home == */

.title-access{
    width: 940px;
    margin: 0 auto;    
}

.title-access h1{
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
}

.cards-home{
    max-width: 940px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
    cursor: pointer;
}

.card-home{
    background-color: white;
    margin-bottom: 10px;
}


.card__home-image img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.card__home-content p{
    margin-top: 10px;
    font-size: 18px;
    color: #111111;
}

.card__home-info p{
    margin-top: 0;
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}


/* == FOOTER == */

footer{
    background: #eeeeee;
    width: 100%;
    padding: 23px 0;
    margin-top: 50px;
    text-align: center;
    bottom: 0;    
}

footer p{
    font-size: 14px;
    color: #999999;
}

.footer-block{
    display: block;
    position: absolute;
    bottom: 0;
}

/* == ABOUT PAGE */

.about{
    max-width: 940px;
    margin: 0px auto;
    
}

.about h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

.about p{
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 30px;
}

.about h1{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #111111;
}

/* == RECEITAS PAGE == */

.cards-receitas{
    max-width: 940px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
}

.card-receitas{
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-receitas img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.card-title{
    margin-top: 10px;
    font-size: 18px;
    color: #111111;
}

.card-subtitle{
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}

/* == PAGE 404 == */

.page-404{
    text-align: center;
    padding: 50px;
    margin-bottom: 177px;
}

.page-404 img{
    max-width: 940px;
    margin-bottom: 30px;
}

.page-404 h1{
    font-size: 25px;
    font-weight: normal;
    color: #777777;
}

.page-404 a{
    text-decoration: none;
    color: #000000;    
}

.page-404 a:hover{
    color: coral;
    transition: 200ms;

}

/* == RECEITAS PAGE == */

.recipe-wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  
  .recipe__image img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
  }
  
  .recipe__title {
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin-top: 50px;
  }
  
  .recipe__author {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 4px;
  }
  
  .recipe__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .recipe__expansion {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .recipe__description {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-top: 20px;
    opacity: 1;
    display: block;
  }
  
  .recipe__description.active {
    opacity: 1;
    display: none;
  }
  
  .recipe__description li {
    list-style-position: inside;
  }

  /* == ADMIN HEADER */

.admin-header{
    background-color: #111111;
    width: 100%;
    padding: 27px;
    box-sizing: border-box;    
}

.admin-logo{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.admin-logo a{
    display: flex;
    left: 0;
}

.admin-receipes{
    max-width: 940px;
    margin: 50px auto;   
}

.admin-receipes-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.admin-receipes-title a{
    padding: 9px 20px;
    background-color: #6558c3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    right: 0;
}

.admin-receipes-title h1{
    font-weight: bold;
    font-size: 24px;
    color: #111111    
}

.admin__receipes-cards{
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
       
}

.admin__receipe-card{
    display: grid;
    grid-template-columns: 192px 1fr;
}

.admin__image-card img{
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
    object-fit: cover;
}

.admin__content-card h1{
    font-weight: normal;
    font-size: 18px;
    color: #111111;
}

.admin__content-card p{
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 10px;
}

.admin__content-card a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #6558c3;      
}

/* == ADMIN SHOW == */

.admin__show-title{
    max-width: 940px;
    margin: 55px auto 24px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.admin__show-title h2{
    font-size: 24px;
    color: #111111;
}

.admin__show-title a{
    padding: 9px 20px;
    background-color: #6558C3;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.admin__show-image{
    margin: 0 auto;
    max-width: 940px;
    max-height: 280px;    
    
}

.admin__show-image img{    
    border-radius: 15px;
    width: 940px;
    height: 280px;
    object-fit: cover;
}

.admin{
  max-width: 940px;
  margin: 0 auto 51px auto;
}

/* == ADMIN CREATE RECIPE == */

.admin__create-form{
    max-width: 940px;
    margin: 55px auto;
    position: relative;
    align-items: center;
}

.admin__create-form h2, button[type = "submit"]{
    display: inline-block;
}

.admin__create-form button[type = "submit"]{
    position: absolute;
    right: -40px;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 9px 20px;
    font-weight: bold;
    color: white;
    background-color: #6558C3;
    border-radius: 4px;
    align-items: center;
    top: 0px;
}

.admin__create-form h2{
    font-size: 24px;    
}

.admin__create-form h3 {
    margin-top: 30px;    
    font-weight: bold;
    font-size: 16px;
}

.admin__create-form input{
    width: 940px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'roboto';
    margin-top: 10px;
}

.add-information textarea{
    height: 257px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'roboto';
}


.admin__create-form button[type = "button"]{
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    background-color: white;
    cursor: pointer;
}

#admin__delete-button{
    right: 115px;
    top: 0;
    background-color: #DC4747;
}


