<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% block head %}
    <title>Foodfy | Admin </title>
    {% endblock head %}
    <link rel="stylesheet" href="/css/admin-style.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">    
    </head>

    <body>

    <header class="admin-header">
        <div class="admin-navbar">
            <a href="/admin/recipes"><img src="/images/WhiteLogo.png" alt=""></a>  
            <a href="/admin/recipes">Receitas</a> 
            <a href="/admin/chefs">Chefs</a>           
        </div>   
    </header>       

    {% block content %}{% endblock content %}

    </body> 

    <script src="/scripts/scripts.js"></script>

    </html>