{% extends 'site/layout2.njk' %}

{% block head %}
  <title>Foodfy | {{recipe.title}}</title>
{% endblock head %}


{% block content %}
  <div class="recipe-wrapper">
    <div class="recipe__image">
      <img src="{{recipe.image}}" alt="{{recipe.title}}">
    </div>

    <div class="recipe__content">
      <p class="recipe__title">{{recipe.title}}</p>
      <p class="recipe__author">por
        {{recipe.author}}</p>
      <br>
      <div class="recipe__section">
        <p class="recipe__subtitle">Ingredientes<span class="recipe__expansion">ESCONDER</span></p>
        <div class="recipe__description">
          <ul>
       {% for recipe in recipe.ingredients %}
              <li> - {{recipe}}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Modo de preparo<span class="recipe__expansion">ESCONDER</span></p>
        <div class="recipe__description">
          <ol>
      {% for recipe in recipe.preparation %}
              <ul> - {{recipe}}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Informações adicionais<span class="recipe__expansion">ESCONDER</span></p>
        <div class="recipe__description">
      <p>{{recipe.information}}</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/scripts.js"></script>
{% endblock content %}