{% extends 'admin/layout.njk' %}

{% block content %}

<div class="admin-recipes">
    <div class="admin-recipes-title">
        <div><h1>Gerenciar Receitas</h1></div>
        <div><a href="/admin/recipes/create">Nova Receita</a></div>
    </div>
</div>


<section class="admin__recipes-cards">
{% for recipe in recipes %}
    <div class="admin__recipe-card">
        <div class="admin__image-card">
            <img src="{{recipe.image}}" alt="">
        </div>
        <div class="admin__content-card">
            <h1>{{recipe.title}}</h1>
            <p>Por {{recipe.author}}</p>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>    
    </div>
{% endfor %}
</section>

{% endblock content %}